.menu {    
    /* Style for menu button */
    position:relative;
    font-size:30px;
    left:3rem;
    top:2rem;
}

.submenu {    
    /* Hide submenu */
    display:none;
    position:absolute;
}

.menu:hover .submenu {    
    /* Show submenu on hover */
    display:block;
}

.submenu-item {
    background-color:#efefefef;
    width: 300px;
    height: 30px;
    padding: 50px;
    display: block;
}

.submenu span:hover{
    background-color:grey;
}

